@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: antiquewhite;
  background-image: linear-gradient(to bottom right, #ef4136, #fbb040);
  padding-top: 2vh;
}

footer {
  min-height: 5vh;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: royalblue;
  background-image: linear-gradient(to right, #2d388a, #00aeef);
}

footer p {
  font-size: 1em;
  color: lightgoldenrodyellow;
  text-align: center;
}

.calc-container {
  min-width: 55vh;
  min-height: 80vh;
  display: grid;
  justify-content: center;
  grid-template-rows: 30% auto auto auto auto auto;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 1vw;
  padding: 5vh 1.5vw;
  background-color: royalblue;
  border: 2px solid black;
  border-radius: 2em;
  box-shadow: 2px 4px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.item2 {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item3 {
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.item4 {
  grid-row: 2;
}

.item5, .item6, .item7, .item8 {
  grid-row: 3;
}

.item9, .item10, .item11, .item12 {
  grid-row: 4;
}

.item13, .item14, .item15, .item16 {
  grid-row: 5;
}

.item19 {
  grid-column-start: 3;
  grid-column-end: 5;
}

div#display {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: gold;
  background-image: linear-gradient(to top, gold, lightgreen);
  border: 2px solid black;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 2em;
  color: black;
  box-shadow: inset 2px 4px;
  overflow: hidden;
}

div#display p {
  font-family: 'Inconsolata', monospace;
  text-align: right;
}

.calc-container button {
  font-size: 1.5em;
  border-radius: 0.25em;
}

.calc-container button:hover {
  background-color: plum;
  border-color: plum;
  scale: 1.1;
}

button.operand, button.float {
  background-color: lightgoldenrodyellow;
  border-color: antiquewhite;
}

button.operator {
  background-color: black;
  border-color: black;
  color: antiquewhite;
}

button.clear-entry {
  background-color: rgb(179, 57, 57);
  border-color: rgb(179, 57, 57);
}

button.backspace {
  background-color: darkorange;
  border-color: darkorange;
}

p.disp-line1 {
  color: darkgreen;
  font-size: 2em;
}

p.disp-line2 {
  color: darkred;
  font-size: 1.5em;
}